<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eureca</property>
        <property name="hibernate.connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property> --> 
        
        <mapping resource="it/unirc/pwm/eureca/mapping/Attivita.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Evento.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Evento.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/PersonaFisica.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Socio.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Utente.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Tessera.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Viaggio.hbm.xml"/>
        <mapping resource="it/unirc/pwm/eureca/mapping/Svolge.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
